[Desktop Entry]
Version=1.0
Name=@NAME@
GenericName=Web Browser
Comment=Browse the Web
Exec=@EXEC@ %u
Icon=@ICON@
Terminal=false
Type=Application
MimeType=application/pdf;application/vnd.mozilla.xul+xml;application/xhtml+xml;text/html;text/mml;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=@STARTUP_NOTIFY@
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=Open a New Window
Name[en_US]=New Window
Exec=@EXEC@ --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Name[en_US]=New Private Window
Exec=@EXEC@ --private-window %u
